<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false" />
    <section name="CPNetFrameWorkDataProviders" type="ConSolHWeb.Data.CPNetFrameWorkDataProvidersSection" />
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider"
          type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <CPNetFrameWorkDataProviders dataProviderName="SqlDataProvider">
    <DataProviders>
      <add name="SqlDataProvider" type="ConSolHWeb.Data.SqlDataProvider" connectionStringName="ApplicationServices" />
    </DataProviders>
  </CPNetFrameWorkDataProviders>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Data Source=172.20.0.210;Initial Catalog=ConSolHDB;User Id=ConsolHDBUsr;Password=123abc,./;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="ConSolHDBContext" connectionString="Data Source=172.20.0.210;Initial Catalog=ConSolHDB;User Id=ConsolHDBUsr;Password=123abc,./;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="ApplicationServices"
     connectionString="Data Source=(local);Initial Catalog=ConSolHDB;User Id=ConsolHDBUsr;Password=123abc,./;MultipleActiveResultSets=True;"
     providerName="System.Data.SqlClient" />
    <add name="ConSolHDBContext"
      connectionString="Data Source=(local);Initial Catalog=ConSolHDB;User Id=ConsolHDBUsr;Password=123abc,./;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <!--<parameter value="v11.0" />-->
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="ThirtySecondsCashe" duration="30" varyByControl="" />
        </outputCacheProfiles>
      </outputCacheSettings>
      <outputCache enableOutputCache="true" />
      <!-- disable scavenging option -->
      <cache disableMemoryCollection="false" disableExpiration="false" percentagePhysicalMemoryUsedLimit="0" privateBytesLimit="0"
        privateBytesPollTime="00:00:01" />
      <!-- Check memory for every second -->
    </caching>
    <sessionState cookieless="false" />
    <identity impersonate="false" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="ConSolHWeb.Data" />
      </assemblies>
      <buildProviders>
        <add extension=".rpt"
          type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="p.aspx?p=login" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
          enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5"
          minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="eRecruitment" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices"
          applicationName="eRecruitment" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="eRecruitment" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="eRecruitment" />
      </providers>
    </roleManager>
    <pages enableEventValidation="false" validateRequest="false" maintainScrollPositionOnPostBack="true" enableViewStateMac="true"
      controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" tagPrefix="cc1" assembly="AjaxControlToolkit" />
        <add assembly="msgBox" namespace="BunnyBear" tagPrefix="cc2" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" namespace="CrystalDecisions.Web"
          tagPrefix="CR" />
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
        <add tagPrefix="MEDICAL" namespace="NMA.UI" />
        <add tagPrefix="obout" namespace="Obout.Grid" assembly="obout_Grid_NET" />
        <add tagPrefix="obout" namespace="Obout.Interface" assembly="obout_Interface" />
        <add namespace="ConSol.GridViewControl" assembly="ConSolHWeb.Data" tagPrefix="cc1" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx"
        type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="CompanyName" value="Contact Solutions Limited" />
    <add key="AppName" value="ConSol Harmonised Database" />
    <add key="AllowedToExport" value="System Administrator" />
    <add key="EnableErrorLog" value="True" />
    <add key="ErrorLogEmail" value="oriolaakeem@gmail.com" />
    <add key="SiteName" value="MrDAStore.com@localhost" />
    <add key="ProductsPerPage" value="9" />
    <add key="PENSION" value="0.05" />
    <add key="PAYEE" value="0.03" />
    <add key="DescriptionLength" value="50" />
    <add key="CodeGenDataNS" value="ConSol.Data" />
    <add key="isDebug" value="1" />
    <add key="UNIONBASICJ" value="0.04" />
    <add key="UNIONBASICS" value="0.025" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx"
        type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
        preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" userName="oriolaakeem@gmail.com" password="#oriolaakeem123" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13" />
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>